/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
/*Schrift*/
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: rgb(46, 18, 148);
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
  font-weight: bold;
}
/*Header Styles*/
.header-links a:hover,
.header-links a.current {
  text-decoration: underline;
}
header a {
  color: white;
  text-decoration: none;
}

.header-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}

.header-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/*Footer styles*/
footer {
  background-color: rgb(46, 18, 148);
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-text-title {
  font-weight: bold;
}
/*Titel*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.title-text {
  text-align: center;
  margin-bottom: 15px;
}
.title-img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.content-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-index-links {
  width: 90%;
  max-width: 340px;
}
.content-index-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  gap: 12px;
}
.content-links {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.content-img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border: solid black 1.5px;
  margin-bottom: 12px;
}
.content-img-smartphone {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
  border: solid black 1.5px;
  margin-bottom: 12px;
}
.product-grid {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}
.product-grid li {
  width: 90%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
}
.product-grid-img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: white;
  border: solid black 1.5px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.product-grid-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: large;
}
.product-grid-cart {
  width: 30px;
  height: auto;
}
.product-grid li select {
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}
